<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PEPhotoCropEditorPerformanceTests</key>
		<dict>
			<key>test_cropWithQuarterInset()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012429</real>
					<key>baselineIntegrationDisplayName</key>
					<string>21 Jul 2017, 22:20:42</string>
				</dict>
			</dict>
			<key>test_noTransformation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0046524</real>
					<key>baselineIntegrationDisplayName</key>
					<string>21 Jul 2017, 22:20:43</string>
				</dict>
			</dict>
			<key>test_rotateBy60DegreesAndCropWithQuarterInset()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.066206</real>
					<key>baselineIntegrationDisplayName</key>
					<string>21 Jul 2017, 22:20:54</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
